[submodule "js/easyXDM"]
path = js/easyXDM
url = git://github.com/oyvindkinsey/easyXDM.git
[submodule "js/JSON-js"]
	path = js/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "JSON-js"]
	path = JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
