[submodule "js/lib/easyXDM"]
	path = js/lib/easyXDM
	url = git://github.com/oyvindkinsey/easyXDM.git
[submodule "js/lib/JSON-js"]
	path = js/lib/JSON-js
	url = git://github.com/douglascrockford/JSON-js.git
[submodule "lib/openlayers"]
	path = lib/openlayers
	url = git://github.com/openlayers/openlayers.git
